@import url('https://fonts.googleapis.com/css?family=Spectral:400,700');


.tile-holder {
    float: left;
}

.article-box {
    display: inline-block;
    word-break: break-word;
    background: #f1f1f1;
    color: black;
    padding-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 01);
    justify-content: center;
}

.headline {
    font-family: 'Spectral', serif;
    font-style: bold;
    font-size: 20px;
}

.animator {
    -webkit-animation: mymove 1s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove 3s;
    animation-fill-mode: forward;
}

@keyframes mymove {
    from {top: 75vh;}
    to {top: 100px;}
}