@import url('https://fonts.googleapis.com/css?family=Limelight');
@import url('https://fonts.googleapis.com/css?family=Spectral:400,700');

.search-font {
    font-family: 'Limelight';
}


.App {
  text-align: center;
}


.background-img {
    background-image: url('./components/assets/homePage2.jpg');
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
}
.homepage {

    height: fit-content;
    align-content: center;
    background-color: #000;
    height: 75px;
    margin-bottom: 30px;
}




.landing-text-block {
    padding-top: 77vh;
    padding-left: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.title-font {
    font-family: 'Limelight';
    font-size: 2.5em;
    position: relative;
    float: left;
    color: white;
    margin: 0;
}
.lesser-font {
    font-family: 'Limelight';
    font-size: 20px;
    float: left;
    color: white;
    margin: 0;
}

.search-news {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
}

.enter-search-news {
    margin-top: 50px;
    box-sizing: border-box;
    font-size: 30px;
    height: 45px;
    padding-left: 10px;
    width: 400px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 01);
    position: relative;
}